<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Latest Announcements</h2>
      <% topic_list(list_opts: { order: 'date', category: 'announcements', no_definitions: true }, opts: { instance_var: "announcements"}) %>
      <ul class="announcements-list">
        <% @announcements.each do |announcement| %>
          <li class="announcement-item">
            <a href="<%= announcement.url %>" class="item" target="_blank">
              <div class="announcement-content">
                <p><%= short_date(announcement.created_at) %></p>
                <h3><%= emoji_codes_to_img(announcement.fancy_title) %></h3>
                <p><%= announcement.excerpt %></p>
              </div>
              <% if announcement.image_url.present? %>
                <img src="<%= announcement.image_url %>" class="announcement-image" alt="<%= announcement.title %>">
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
